<!DOCTYPE html>
<html>

<head>
  <title> new Project</title>
  
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>

  <div class="foot"><span>All rights &copy; reserved to this App in 2024</span></div>

</body>

</html>