<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="./css/bootstrap.min.css">

</head>

<body>
    <div class="container-all-header shadow-1">

        <div class="all-header ">
            <img class="logo1" src="images/favicon.ico" alt="">
            <a href="/">App</a>
        </div>

        <div></div>

        <div class="menu-header" id="myMenuButton">
            <i class="fa-solid fa-bars i-header" style="font-size: 25px;"></i>
        </div>

    </div>

    <div class='sha-header d-none ' id="menuApp">
        <div class="all-header-3 shadow-1">
            <div class="d-close-header">
                <div class="d2-close-header" id="closeMenu">
                    <i class="fas fa-times i-close-header"></i>
                </div>
            </div>
            <a href="/">Home</a>
        </div>
    </div>











    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>

    <!-- <script src="js/scribt.js"></script> -->


</body>

</html>